*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

library/pixymeta-android/.git
library/pixymeta-android/bin
library/pixymeta-android/build
library/pixymeta-android/dist
library/pixymeta-android/images
library/pixymeta-android/lib
library/pixymeta-android/.classpath
library/pixymeta-android/.project
library/pixymeta-android/.gitattributes
library/exiv2-0.27.5-Source/contrib
library/exiv2-0.27.5-Source/fuzz
library/exiv2-0.27.5-Source/po
library/exiv2-0.27.5-Source/test
library/exiv2-0.27.5-Source/tests

# The directory that holds the config of "bundle" the Ruby Dependency Manager
.bundle

# fastlane specific
**/fastlane/report.xml
# deliver temporary files
**/fastlane/Preview.html
# snapshot generated screenshots
**/fastlane/screenshots
# scan temporary files
**/fastlane/test_output
