*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

enable-pixymeta-android.gradle
app/enable-pixymeta-android.gradle
library/pixymeta-android
library/exiv2-0.27.3-Source/contrib
library/exiv2-0.27.3-Source/po
library/exiv2-0.27.3-Source/test
library/exiv2-0.27.3-Source/tests

# fastlane specific
**/fastlane/report.xml
# deliver temporary files
**/fastlane/Preview.html
# snapshot generated screenshots
**/fastlane/screenshots
# scan temporary files
**/fastlane/test_output
