<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions below are needed for fastlane/screengrab -->

    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows storing screenshots on external storage, where it can be accessed by ADB -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- Allows changing SystemUI demo mode -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <!-- Needed to get the documentsUI package resources when taking screenshots for android 11+ -->
    <queries>
        <package android:name="com.android.documentsui" />
        <package android:name="com.google.android.documentsui" />
    </queries>

    <application
        tools:replace="android:icon,android:roundIcon"
        android:icon="@drawable/ic_exif_thumbnails_adder_debug"
        android:roundIcon="@drawable/ic_exif_thumbnails_adder_debug">
    </application>

</manifest>